extends layout

block software_engineer
  p Я скоро стану інженером-програмістом!
  img(src="/images/earth.jpg"
      alt="Планета Земља"
      title="Планета Земља")

block greeting
  h1 Привіт Світ!

block page_title
  title Це заголовок сторінки